.payment-item:has(input:checked) {
    border-color: #4ade80;   /* green-700 */
    background: #f0fdf4;     /* green-50 */
}

.payment-item:has(input:checked) .icon {
    opacity: 1;
}

.payment-item:hover {
    border-color: #4ade80; /* green-400 */
}

.payment-item:has(input:focus) {
    border-color: #4ade80;
    background: #f0fdf4;
}

input[type="file"] {
    background: #f8fafc;
}

input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button {
    background-color: #e5e7eb;
    color: #111827;
    border: 1px solid #d1d5db;
    padding: 0.1rem 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button:hover,
input[type="file"]::file-selector-button:hover {
    background-color: #d1d5db;
}